<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Start!</title>
		<link rel="stylesheet" type="text/css" href="/css/app.css">
	</head>
	
	<body>
		<h1>Start page</h1>
		
		<div>
			<a href="/hello">Hello World</a>
		</div>
		
		<div>
			<a href="/hello-spring">Hello Spring</a>
		</div>
		
		<div>
			<a href="/hello-message">Hello message</a>
		</div>
		
		<div>
			<a href="/hello-message?message=大家好">Hello message with parameters</a>
		</div>
		
		<div>
			<a href="/connection/test">Test your connection</a>
		</div>
		
		<div>
			<a href="/tasks">Tasks</a>
		</div>
	</body>
</html>